# 📦 Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# 📦 Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# 🔑 Credenciales y configuración local
*.properties
*.yml
*.yaml
*.env
application-*.properties
application-*.yml

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class

# Eclipse
.project
.classpath
.settings/
bin/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Tests
surefire-reports/
test-output/

# Cache
*.swp
*.swo
